<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintanse page</title>
</head>
<body>
<h1>Maintanse text, we will be right back</h1>
<p>Some text</p>

{{> footer}}


</body>
</html>